@import url('https://fonts.googleapis.com/css?family=Oswald|RobotoMono:300');



/*-----------------header--------------*/

.head-text h2 {
    font-family: 'Roboto Mono', Oswald, sans serif;
    color: #fafafa;
    text-transform: uppercase; 
    letter-spacing: 5px;
    padding-top: 2%;
    padding-left: 2%;
    }
    
    .head-text h1 {
    font-family: "Roboto Mono", oswald, sans serif;
    color: #830808;
    text-transform: uppercase; 
    letter-spacing: 5px;
    text-align: center;
    margin-top: 22%;
    font-size: 50px;
    }
   
    #head-img {
    height: 500%;
    width: 100%;
    background: url("https://images.unsplash.com/photo-1554284126-aa88f22d8b74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=994&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 15%;
   
    }
  
    
    
    
    

/*---------------------Body------------------*/
body {
	background-color: darkgray;
  margin: 0%;
  padding: 0%;
  
}
/*------------------------navigation Bar--------------*/
#nav {
  position: center;
}

#nav a {
  float: inherit;
  display: inline;
  color: #830808;
  text-align: center;
  margin-left: 15%;
  margin-top: 80%;
  margin-bottom: 0%;
  text-decoration: none;
  font-size: 25px;
}

#nav :hover {
  color: #fafafa;
  }

/*-----------------about-----*/
.row {
  background: #830808;
  opacity: 0.8;
  margin: 0%;
  padding: 0%;
  }

.row h2 {
  font-size: 20px strong;
  font-family: Luxurious Roman;
  color:#fafafa;
  letter-spacing: 3px;
  text-align: relative;
 
  

}

.column {
  font-size: 25px;
  text-align: justify;
  margin-top: 5%;
  width: 50%;
 color: #fafafa
  
  
}

.column h3 {
  font-size: 20px strong;
  font-family: Luxurious Roman;
  color: #000000;
  letter-spacing: 2px;

}

.row-jack {
  font-size: 20px;
  padding-top: 4%;
  text-align: relative;
  width: 50%;
  
  color: #000000
  
}
.row-jill {
  font-size: 22px;
  padding-top: 4%;
  text-align: relative;
  color: #000000
}



/*------------classes-------*/
.row1 {
  background: url("kelly-sikkema-bE6k8SQT2FQ-unsplash");
  margin: 0%;
  padding: 0%;
  color: #fafafa;

}


/*--------contact---------*/


/*-------footer-------*/

.footer {
  background: #fafafa;
  padding: 0%;
  margin: 0%;
  
}
.footer p {
  color: #000000;
  font-family: Luxurious Roman;
  font-style: strong;
  font-size: 15px;
  text-align: center;
}
