@import url('https://fonts.googleapis.com/css?family=Oswald|RobotoMono:300');



/*-----------------header--------------*/

.head-text h2 {
    font-family: 'Roboto Mono', Oswald, sans serif;
    color: #ffffcc;
    text-transform: uppercase; 
    letter-spacing: 5px;
    text-align: top-left;
    margin-top: 1%;
    margin-left: 7%;
    }
    
    .head-text h1 {
    font-family: "Roboto Mono", oswald, sans serif;
    color: #ffffcc;
    text-transform: uppercase; 
    letter-spacing: 5px;
    text-align: center;
    margin-top: 22%;
    font-size: 50px;
    }
   
    #head-img {
    height: 500px;
    width: 100%;
    background: url("https://images.unsplash.com/photo-1554284126-aa88f22d8b74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=994&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;animation-name: hero-zoom;
    animation-fill-mode: forwards;
    animation-duration: 6s;
    }
    

/*---------------------Body------------------*/
body {
	background-color: darkgray;
}
/*------------------------navigation Bar--------------*/
#nav {
  position: center;
}

#nav a {
  float: inherit;
  display: inline;
  color: #ffffcc;
  text-align: center;
  margin-left: 15%;
  margin-top: 80%;
  text-decoration: none;
  font-size: 20px;
}

#nav :hover {
  color: rgb(218, 76, 11);
  }

/*-------------about----------*/

#about {
  background: rgb(218, 76, 11);


}
}








    






/*------------------------sections*/


/*-------------------------main*/

/*------------------------footer*/

@keyframes hero-zoom {
    from{
        transform: scale(2);
    }
    to{
        transform: scale(1.1);
    }